@import "tailwindcss";

@layer components {
  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* slate-300 */
    border-radius: 9999px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #475569; /* slate-600 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8; /* slate-400 */
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #64748b; /* slate-500 */
  }
}